
/*=== MEDIf QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");
html {
  background-color: #353b43;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
 }

body {
  background-color: #F7F7F7;
  font-family: "Quattrocento Sans", sans-serif;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #afbac4;
}

p {
  font-family: "Quattrocento Sans", sans-serif;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #57cbcc;
}

::selection {
  color: #fff;
  background: #57cbcc;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  color: #fff;
  transition: all 0.3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #6CB670;
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.btn {
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  transition: all 0.3s ease-in 0s;
}
.btn:focus {
  color: #ddd;
  box-shadow: none;
}

.btn-transparent {
  border: 1px solid #4e595f;
}
.btn-transparent:hover, .btn-transparent:focus {
  background-color: #81B001;
  border-color: #81B001 !important;
  color: #fff;
}

.form-control {
  background-color: #2f383d;
  border-radius: 0;
  padding: 5px 10px;
  border: 0 none;
  color: #ddd;
}

.form-control:focus {
  box-shadow: 0 0 0;
}

.form-control::-webkit-input-placeholder {
  /*  Chrome, Safari, Opera  */
  color: #ddd;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}

.form-control:-ms-input-placeholder {
  /*  Internet Explorer  */
  color: #ddd;
}


/*CODIGO DE LAS CAJAS DE ADITIONAL MATERIAL */

/*Advices*/

#Temascajas{
  color: #81B001;
}
.service-block p{
  color: #000;
}

#tituloC{
  color: #fff;
}
/*Material adicional 2.0*/

.tituloTV{
  color: #81B001;
  font-family:  "Quattrocento Sans", sans-serif;
  font-size: 20px;
}
      /*CAJITA DE IMAGENES */

      .cajita{
        display: flex;
        padding: 30px 0px 0px 45px;
      }

      /*ANIMACION*/
      .cajita img{
        padding: 0px 100px;
      }
      .image01 {
        transition: transform .3s; 
    }
     
    .image01:hover {
        transform: scale(0.9); 
    } 
.imgQT{
  margin: 0px 0px 0px 100px;
  border-radius: 5%;
}

.VocabularyO{
  margin: 0px 250px 0px 250px;
}
      /*ANIMACION*/

    
/*Material adicional 2.0* fin/

/*Advices*/
.linea{
            
  width: 350px;
  margin: 0px 0px 0px 350px;
  
}

.titulocaja {
color: #afbac4;
  font-size: 40px;
  margin: 15px 0px 15px 400px;
  }


#textcaja01{
  font-size: 19px;
  text-align: justify;
  margin: 0px 400px 0px 150px;
  color: #000;
 }    

 .videoo{
  margin: 40px  0px 0px 250px;
  width: 500px;
  height: 300px;
 }

 
#textcaja02{
  font-size: 19px;
  text-align: justify;
  margin: 0px 400px 0px 150px;
  color: #000;
 }  

 .Cajastext02{
  margin-top: 80px;
 }
 #videoo02{
  margin: 40px  0px 0px 250px;
  width: 500px;
  height: 300px;

 }
/*CODIGO DE LAS CAJAS DE ADITIONAL MATERIAL FINAL */

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}
.border:before {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: #81B001;
}

.color {
  color: #6CB670;
}

.sub-title {
  padding: 0 0 50px;
}

.sub-title > h3 {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-one {
  background-color: #F7F7F7;
}

.footer-color{
  background-color: black;
}

.bg-dark {
  background: #242930;
}

.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all 0.2s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  
}

a:focus,
a:hover {
  color: #154E81;
}

.btn-main {
  background: #81B001;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
}
.btn-main:hover {
  background: #81B001;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}
@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preloader {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #57cbcc;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
.title {
  padding-bottom: 60px;
}
.title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px;
  color: #111;
}
.title h2 span {
  color: #81B001;
}
.title p {
  color: #666;
}
.title.title-white h2 {
  color: #fff;
}

.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background: #f7f7f7
}

.overly {
  position: relative;
}
.overly:before {
  content: "";
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-bradcrumb {
  background: transparent;
}
.header-bradcrumb a,
.header-bradcrumb .active {
  color: #cfcfcf;
  font-weight: 200;
  font-family: "Quattrocento Sans", sans-serif;
}
.header-bradcrumb a:hover {
  color: #57cbcc;
}

.slick-slide {
  outline: none;
}

/* CSS mfp-with-zoom class */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.cajitas p{
  text-align: justify;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pagination li {
  margin: 5px;
  display: inline-block;
}
.pagination li a {
  background: #242930;
  border: 0;
  color: #fff;
  border-radius: 0 !important;
}
.pagination li a:focus, .pagination li a:hover, .pagination li a.active {
  background: #57cbcc;
  color: #fff;
  box-shadow: none;
}

.logo {
  margin-top: 10px;
  display: inline-block;
}

.single-page-header {
  background-image: url("../images/about/about-header.jpg");
  background-size: cover;
  padding: 140px 0 70px;
  text-align: center;
  color: #fff;
  position: relative;
}
.single-page-header:before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  z-index: 99;
  margin-bottom: 0;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navigation .logo {
  padding: 0;
  height: auto;
  margin-top: 0;
}
.navigation .logo img {
  height: auto;
  width: 140px;
}
.navigation .navigation-menu li a.active {
  color: #81B001 !important;
}
.navigation .navigation-menu a {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px;
  color: #737f8a;
}
.navigation .navigation-menu a:hover, .navigation .navigation-menu a:focus {
  background: transparent;
  color: #81B001 !important;
}

.-toggle {
  border: 1px solid #fff;
  border-radius: 0;
}
.navbar-toggle span {
  background: #fff;
}

.bg-1 {
  background-image: url("../images/backgrounds/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-image: url("../images/backgrounds/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-area {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero-area .block {
  text-align: center;
  z-index: 99;
}
.hero-area .block .video-button a {
  background: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  line-height: 60px;
  font-size: 20px;
  margin-left: 3px;
  color: #57cbcc;
}
.hero-area .block h1 {
  font-size: 90px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .hero-area .block h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .hero-area .block h1 {
    font-size: 48px;
  }
}
.hero-area .block p {
  color: #fff;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}
.hero-area .block .btn-transparent {
  margin-top: 40px;
  border-color: #fff;
  padding: 14px 50px;
  font-size: 18px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/*=================================================================
  About us section
==================================================================*/
 .about-2 .content-block {
  padding: 35px 40px;
}
@media (max-width: 768px) {
  .about-2 .content-block {
    padding: 40px 15px;
  }
}
.about-2 .content-block .media {
  margin-top: 25px;
}
.about-2 .content-block .media .pull-left {
  padding-right: 15px;
}
.about-2 .content-block .media i {
  font-size: 30px;
  color: #57cbcc;
}
.about-2 .content-block .media h4 {
  font-size: 16px;
  font-weight: 600;
}


/*=================================================================
  Portfolio section
==================================================================*/
.portfolio-filter {
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-filter button {
  border: none;
  outline: none;
  border: 1px solid rgba(236, 239, 241, 0.07);
  background: transparent;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 700;
  color: #737f8a;
  transition: 0.3s all;
}
.portfolio-filter button.active {
  border: 1px solid #154E81;
  color: #154E81;
}

.portfolio-items-wrapper .mix {
  padding: 5px;
}

.portfolio-block {
  position: relative;
  margin-top: 30px;
}
.portfolio-block:before {
  transition: all 0.3s ease-in-out;
  background: rgb(255, 255, 255);
  opacity: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  content: "";
}
.portfolio-block img {
  width: 100%;
  height: auto;
}
.portfolio-block:hover:before {
  opacity: 1;
}
.portfolio-block:hover .caption h4 {
  top: 45%;
}
.portfolio-block:hover .caption {
  opacity: 1;
  top: 50%;
}
.portfolio-block .caption {
  position: absolute;
  top: 60%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all 0.2s ease-in-out;
  text-align: center;
  width: 80%;
}
.portfolio-block .caption h4 {
  font-size: 20px;
  font-weight: 600;
}
.portfolio-block .caption h4 a {
  color: #000;
}
.portfolio-block .caption .search-icon {
  background: #57cbcc;
  width: 45px;
  height: 45px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.portfolio-block .caption .search-icon i {
  line-height: 45px;
}

/*=================================================================
  Services section
==================================================================*/

#zoom {
  transition: transform .2s; 
}

#zoom:hover {
  transform: scale(1.2); 
} 

.service-block {
  padding: 60px 20px;
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}
.service-block .service-icon {
  margin-bottom: 10px;
  font-size: 50px;
}
.Iconoo img{
font-size: 100px;
}

/*=================================================================
  Services section 2
==================================================================*/
.service-2 .service-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 50px 20px;
  transition: all 0.3s ease 0s;
}
.service-2 .service-item:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}
.service-2 .service-item:hover i {
  background: #fff;
  color: #154E81;
}
.service-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  background: #154E81 none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}


/*=================================================================
  Our Team
==================================================================*/
.team-member {
  background-color: #292F36;
  margin: 15px 0;
}
.team-member:hover .mask {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .member-photo {
    text-align: center;
  }
}
.member-photo:hover img {
  transform: scale(1.2);
}
.member-photo img {
  transition: all 0.4s ease 0s;
}
@media (max-width: 768px) {
  .member-photo img {
    display: inline-block;
  }
}
.member-photo .mask {
  background-color: rgba(87, 203, 204, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.5s ease-out 0s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.member-photo .mask ul {
  text-align: center;
  position: relative;
  top: 125px;
}
.member-photo .mask ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}
.member-photo .mask ul li a:hover {
  background-color: #fff;
  color: #57cbcc;
  border: 1px solid transparent;
}

.member-meta {
  padding: 15px;
}
.member-meta h4 {
  margin: 0 0 5px;
}
.member-meta span {
  font-size: 12px;
}


/*=================================================================
  Footer section
==================================================================*/



.copyright {
  padding: 20px 0;
  color: #fff;
}

